@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
@import 'constants';

body {
  @include font-family();
  font-size: 90%;
}

.panel {
    height: 100vh;
    overflow-x: scroll;
    overflow-y: auto;
}
